<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>屏幕实时显示</title>
    <link rel="stylesheet" href="/css/index_style.css">
    <script src="/js/echarts.common.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <div class="header" id="demo">
        <div class="canvaszz">
            <div id="main" style="height:100vh"></div>
        </div>
        <canvas id="canvas"></canvas>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/star.js"></script>
    <script>
        var myChart = "";
        function update() {
            $.ajax({
                method: "post",
                url: "/getChartData",
                data: {
                    type: 1
                },
                success: function (data) {
                    // myChart.hideLoading(); //隐藏加载动画
                    data.seriesData = data.seriesData.map(function (item) {
                        return item * 10000;
                    });
                    myChart.setOption({ //加载数据图表
                        xAxis: {
                            data: data.xAxisData,
                        },
                        series: [{
                            data: data.seriesData
                        }]
                    });
                }
            });
        }

        function initChart() {
            $.ajax({
                method: "post",
                url: "/getChartData",
                data: {
                    type: 1
                },
                success: function (data) {
                    // 基于准备好的dom，初始化echarts实例
                    myChart = echarts.init(document.getElementById('main'));

                    data.seriesData = data.seriesData.map(function (item) {
                        return item * 10000;
                    });

                    // 指定图表的配置项和数据
                    var option = {
                        xAxis: {
                            data: data.xAxisData,
                            axisLabel: {
                                show: true,
                                fontSize: '20',
                                color: "#fff",
                                fontWeight: 'bolder',
                                formatter: function (value) {
                                    return '{' + value + '| }';
                                },
                                margin: 7,
                                rich: {
                                    value: {
                                        lineHeight: 30,
                                        align: 'center'
                                    },
                                    "a": {
                                        width: 90,
                                        height: 55,
                                        align: 'center',
                                        backgroundColor: {
                                            image: '/img/dianli.png'
                                        }
                                    },
                                    "b": {
                                        width: 90,
                                        height: 55,
                                        align: 'center',
                                        backgroundColor: {
                                            image: '/img/yiliao.png'
                                        }
                                    },
                                    "c": {
                                        width: 100,
                                        height: 50,
                                        align: 'center',
                                        backgroundColor: {
                                            image: '/img/hulianwang.png'
                                        }
                                    },
                                    "d": {
                                        width: 90,
                                        height: 55,
                                        align: 'center',
                                        backgroundColor: {
                                            image: '/img/jiaotong.png'
                                        }
                                    },
                                    "e": {
                                        width: 100,
                                        height: 50,
                                        align: 'center',
                                        backgroundColor: {
                                            image: '/img/yunying.png'
                                        }
                                    },
                                    "f": {
                                        width: 90,
                                        height: 55,
                                        align: 'center',
                                        backgroundColor: {
                                            image: '/img/jinrong.png'
                                        }
                                    },
                                }
                            },
                            axisLine: {
                                symbolSize: [100, 100],
                                lineStyle: {
                                    color: '#e1bd7c',
                                    width: 3
                                }
                            },
                            axisTick: {
                                show: false
                            }
                        },
                        grid: {
                            left: '0%',
                            right: '0%',
                            top: '33%',
                            bottom: '15%',
                            y2: 40
                        },
                        yAxis: {
                            show: false
                        },
                        series: [{
                            name: '销量',
                            type: 'bar',
                            data: data.seriesData,
                            itemStyle: {
                                color: "#31A3FF",
                                normal: {
                                    color: new echarts.graphic.LinearGradient(0, 1, 1, 0, [{
                                        offset: 0,
                                        color: "#B6925D" // 0% 处的颜色
                                    }, {
                                        offset: 0.6,
                                        color: "#F5DCA8" // 100% 处的颜色
                                    }, {
                                        offset: 1,
                                        color: "#D4B581" // 100% 处的颜色
                                    }], false)
                                }
                            },
                            barWidth: '30%',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top',
                                    formatter: function (a) {
                                        var result = [], counter = 0, num = a.data;
                                        num = (num || 0).toString().split('');
                                        for (var i = num.length - 1; i >= 0; i--) {
                                            counter++;
                                            result.unshift(num[i]);
                                            if (!(counter % 3) && i != 0) {
                                                result.unshift(',');
                                            }
                                        }
                                        result.unshift("¥");
                                        result = result.join('');
                                        return result;
                                    },
                                    textStyle: {
                                        fontWeight: 'bolder',
                                        fontSize: '30',
                                        fontFamily: '微软雅黑',
                                        color: "linear-gradient(to right, #fff 0%,#fff,100%)"
                                    }
                                }
                            }
                        }]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }
            })

        }

        function beginChat() {
            this.socket = io.connect();
            socket.on('connect', function () {
                socket.on('message', function (msg) {
                    update();
                });

                socket.on('disconnect', function () {
                    console.log("disconnect");
                });
            });
        }

        initChart();
        beginChat();
    </script>
</body>

</html>