<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../sharePages/public.html %>
        <title>事业部投资认购</title>
</head>

<body>
    <div class="loginmain">
        <div class="title">
            事业部投资认购
        </div>
        <div class="mdui-textfield">
            <input class="mdui-textfield-input input-name" type="text" placeholder="姓名" />
        </div>
        <div class="mdui-textfield">
            <input class="mdui-textfield-input input-phone" type="number" placeholder="手机号" />
        </div>
        <div class="code clearfix">
            <div class="left">
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <input class="mdui-textfield-input input-code" type="number" placeholder="输入验证码" />
                </div>
            </div>
            <div class="right">
                <button class="mdui-btn mdui-btn-block mdui-color-blue-accent mdui-ripple mdui-text-center" onclick="getCode(this)">获取验证码</button>
            </div>
        </div>
        <div class="into">
            <button class="mdui-btn mdui-btn-block mdui-color-blue-accent mdui-ripple" onclick="intoVoting()">进入投票</button>
        </div>
    </div>
    <script>
        var smsCode = 0,
            postResult = "";
        var json = localStorage.getItem("wewin-voting2");
        json = JSON.parse(json);
        if (json != null) {
            if (json.name && json.phone) {
                $.ajax({
                    method: 'post',
                    url: '/intoVoting',
                    data: {
                        name: json.name,
                        phone: json.phone
                    },
                    success: function (data) {
                        if (data.result == 1) {
                            window.location.href = "/";
                        }
                    }
                });
            } else {
                snackbar("出错", 3000);
            }
        }

        function testPhone(num) {
            var reg = /^1[0-9]{10}$/;
            return reg.test(num);
        }

        function getCode(obj) {
            var phone = $(".input-phone").val();
            if (testPhone(phone)) {
                $(obj).attr("disabled", "disabled");
                $.ajax({
                    method: "post",
                    url: "/getCode",
                    data: {
                        phone,
                    },
                    success: function (data) {
                        if(data.result != 0){
                            smsCode = data.result;
                            postResult = data.postResult;
                            if (postResult == "发送成功") {
                                snackbar("验证码发送成功", 3000);
                                var time = 30;
                                $(obj).text("剩余" + time + "秒");
                                time--;
                                var codeTime = setInterval(function () {
                                    if (time >= 0) {
                                        $(obj).text("剩余" + time + "秒");
                                        time--;
                                    } else {
                                        clearInterval(codeTime);
                                        $(obj).removeAttr("disabled");
                                        $(obj).text("获取验证码");
                                    }
                                }, 1000);
                            } else {
                                $(obj).removeAttr("disabled");
                                snackbar("验证码发送失败", 3000);
                            }
                        }else{
                            $(obj).removeAttr("disabled");
                            mdui.alert("抱歉!您不在投票名单中哦", "消息");
                        }
                    }
                });
            } else {
                snackbar("请输入正确的手机号", 3000);
            }
        }

        //进入投票
        function intoVoting() {

            var name = $(".input-name").val();
            var phone = $(".input-phone").val();
            var code = $(".input-code").val();

            // smsCode = 1234;
            // code = 1234;
            // postResult = "发送成功";
            // name = "hlz";
            // phone = "15111823732";

            if (testPhone(phone)) {
                if (name == "") {
                    snackbar("请输入姓名", 3000);
                } else if (code == "") {
                    snackbar("请输入验证码", 3000);
                } else if (code == smsCode && postResult == "发送成功") {
                    $.ajax({
                        method: 'post',
                        url: '/intoVoting',
                        data: {
                            name,
                            phone,
                        },
                        success: function (data) {
                            if (data.result == 1) {
                                var json = { name, phone, };
                                localStorage.setItem("wewin-voting2", JSON.stringify(json));
                                window.location.href = "/";
                            } else if (data.result == 0) {
                                mdui.alert("抱歉!您不在投票名单中哦", "消息");
                            }
                        }
                    });
                } else {
                    snackbar("验证码错误", 3000);
                }
            } else {
                snackbar("请输入正确的手机号", 3000);
            }
        }
    </script>
</body>

</html>