<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../sharePages/public.html %>
    <script src="/js/echarts.common.min.js"></script>
    <title>事业部投资认购 - <%= title %></title>
</head>
<body class="mdui-bottom-nav-fixed">
    <div class="mdui-bottom-nav mdui-color-blue-accent">
        <a id="index" href="/" class="mdui-ripple">
            <i class="mdui-icon material-icons">&#xe88a;</i>
            <label>首页</label>
        </a>
        <a id="rank" href="/rank" class="mdui-ripple">
            <i class="mdui-icon material-icons">&#xe24b;</i>
            <label>排名</label>
        </a>
    </div>
    <script>
    headerNav();
    </script>
